.dropzone-design {
  width: 340px;
}

.qualification-container {
  padding-bottom: 10px;
}

.checkbox-days-container {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}

.radio-days-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.days-input {
  margin-right: 5px;
}
